<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div th:fragment="OperacionesForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label class="col-form-label label-margin">Numero Cuenta</label>
            <input class="form-control form-control-small" type="text" id="numeroOrigen" name="numeroOrigen" />

            <label class="col-form-label label-margin">Mes</label>
            <input class="form-control form-control-small" type="text" id="Mes" name="Mes" />
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary">Extracto</button>
            </div>
            <br>
        </form>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>
